* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

/* HEADER */

.navbar {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  width: 96vw;
  max-width: 1200px;
}

.home-searchbar {
  background-color: rgb(245, 245, 245);
  padding-left: 1rem;
  height: 2rem;
  width: 100%;
  border: none;
  border-radius: 5px;
  margin-right: 3rem;
}

.logo-vinted {
  height: 50px;
  width: auto;
  margin: 0.5rem 6rem 0.5rem 0;
}

.home-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.homepage-button {
  min-width: 9rem;
  border-radius: 5px;
  max-height: 2rem;
  font-size: 0.8rem;
  padding: 0.5rem 1rem;
}

.log-button {
  background-color: white;
  color: #02b2bc;
  margin-right: 1rem;
  border: 1px solid #02b2bc;
}

.sell-articles-button {
  margin-left: 3rem;
  color: white;
  background-color: #02b2bc;
  border: none;
}

/* OFFER */

.center {
  display: flex;
  align-items: center;
  margin: 1rem auto;
  width: 96vw;
  max-width: 1200px;
  flex-wrap: wrap;
}

.header-card-item {
  display: flex;
  align-items: center;
  width: 100%;
}

.card-item-container {
  width: 235px;
  padding: 0 6px 16px 6px;
}

.owner-avatar-item {
  margin: 0.5rem;
  height: 30px;
  width: 30px;
  border-radius: 40px;
}

.card-item-image img {
  max-width: 100%;
  max-height: 298px;
  /* height: 360px;
  width: 235px; */
  object-fit: cover;
}
